*{
    margin:0;
}
.header{
    background: url("../images/services-images/servicesbg.png");
    background-repeat: no-repeat;
    background-size: cover;
    height: 640px;
}
.carlogo{
    margin-top: 3%;
    display: flex;
    justify-content: center;
}
.carlogo>img{
    Width:20%;
    Height:40%;
}
#fi-service{
    font-weight: 700;
    font-size: 36px;
    text-align: center;
    color: #204567;
}
#book-your-next-service{
    font-weight: 700;
    font-size: 40px;
    line-height: 70px;
    text-align: center;
    color: rgba(15, 94, 166, 0.88);

}
.b{
    margin-left: 10px;
    width:200px;
    height:250px;
    margin-bottom: 20px;

}
.img-content>p{
    font-weight: 700;
          font-size: 20px;
          text-align:center;
          line-height: 20px;
          color: #0D3962;
}
.b>h1{
        font-weight: 700;
        font-size: 25px;
        text-align:center;
        line-height: 70px;
        color: #01294E;
}
.services-container
{
    margin-left:15%;
    margin-right:15%;
    display:grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}
.img-content>img{
    margin-left: 60px;
    margin-top: 20px;
    margin-bottom: 20px;
   

}
.header>h1{
    font-weight: 800;
    font-size: 70px;
    line-height: 116px;
    display: flex;
    justify-content: right;
    color: #2480D4;
    margin-top: 300px;
    margin-right: 20px;

}
@media(max-width: 1024px ){
    #fi-service{
        font-size: 30px;
    }
    #book-your-next-service{
        font-size: 30px;
        line-height: 40px;
    }
    .services-container
    {
        margin-left:10%;
        margin-right:10%;
        display:grid;
        grid-template-columns: 1fr 1fr 1fr ;
    }
    .header{
        
        height: 500px;
    }
    
}
@media(max-width: 720px ){
    #fi-service{
        font-size: 20px;
    }
    #book-your-next-service{
        font-size: 20px;
    }
    .services-container
    {
        display:block;
        margin-left: 30%;

    }
    .header>h1{
        font-size: 50px;
        margin-top: 100px;
    }
    .header{
        
        height: 400px;
    }
    

}
@media(max-width: 420px ){
    #fi-service{
        font-size: 13px;
    
    }
    #book-your-next-service{
        font-size: 13px;
        line-height: 20px;
    }
    .services-container
    {
        display:block;
        margin-left: 15%;

    }
    .header>h1{
        font-size: 30px;
    }
    

}
